button {
	cursor: pointer;
}

body {
	font-family: sans-serif;
	line-height: 24px;
	max-width: 850px;
}

h1, #reference-search-form, #footer {
	margin-left: 40px;
}

h1 {
	line-height: 1.1em;
}

#reference-search-form, #cross-references, #footer {
	margin-top: 1.34em;
	margin-bottom: 1.34em;
}

#reference-search-form {
	overflow: hidden;
	padding-left: 1px;
	margin-top: 1.34em;
	margin-bottom: 1.34em;
}

#reference-search-form input[type=search],
#reference-search-form button[type=submit] {
	height: 2.6em;
	padding: 6px 12px;
	display: block;
	float: left;
	margin-left: -1px;
}

#reference-search-form input[type=search] {
	border: 1px solid #888;
}

#query-suggestions {
	clear: both;
	margin-left: -1px;
	font-size: 12px;
}

#query-suggestions button {
	background: #f5f5f5;
	border: 1px solid #bbb;
	border-radius: 100px;
	font-size: inherit;
	padding: 0 8px 1px;
	outline: 0;
}

#query-suggestions button:hover,
#query-suggestions button:focus {
	background: hsl(0, 0%, 81%);
	border-color: hsl(0, 0%, 58%);
}